<div class="loading-screen" data-loading-screen>
    <div class="loading-screen__progress" data-loading-progress>
      <span class="loading-screen__progress__dot" data-loading-dot>
        <span class="loading-screen__progress__dot__progress" data-dot-progress>

        </span>
        <span class="loading-screen__progress__dot__ring">

        </span>
      </span>

      <span class="loading-screen__progress__dot" data-loading-dot>
        <span class="loading-screen__progress__dot__progress" data-dot-progress>

        </span>
        <span class="loading-screen__progress__dot__ring">

        </span>
      </span>

      <span class="loading-screen__progress__dot" data-loading-dot>
        <span class="loading-screen__progress__dot__progress" data-dot-progress>

        </span>
        <span class="loading-screen__progress__dot__ring">

        </span>
      </span>

      <span class="loading-screen__progress__dot" data-loading-dot>
        <span class="loading-screen__progress__dot__progress" data-dot-progress>

        </span>
        <span class="loading-screen__progress__dot__ring">

        </span>
      </span>

      </span>
    </div>
  </div>



{% schema %}
{
  "name": "cs-loading-screen",
  "tag": "div",
  "settings": [
    {
      "type": "header",
      "content": "Coming Soon Loading Screen"
    }
  ],
  "presets": [
    {
      "name": "cs-loading-screen"
    }
  ]
}
{% endschema %}
