

<style type="text/css">

  body {
    overflow: hidden;
  }

  .template-404 {
    position: fixed; 
    left: 0; 
    right: 0; 
    display: flex;
    width: 100vw; 
    height: 100vh; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    pointer-events: none;
  }

  .template-404 a {
    color: #f1de4f;
  }

  .template-404 .title + * {
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="/" class="link body-large" style="pointer-events: all;">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
