

@import './normalize.css'; 

  


/*------------------------------------*\
    #Reset
\*------------------------------------*/

  
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, p, blockquote, th, td { 
  margin: 0;
  padding: 0;
}

li, 
ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
caption, th {
  text-align: left; 
}

q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

summary::-webkit-details-marker {
  display: none;
  list-style-type: none;
}
summary::before {
  display: none;
}


summary::-webkit-details-marker {
  display: none;
  list-style-type: none;
}
summary::before {
  display: none;

}


.visually-hidden {
  z-index: -9999;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  visibility: hidden;
}

main {
  min-height: calc(70vw - 300px);
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

:root {
  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
}


@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
  }
}






/*------------------------------------*\
    #PaddingAndMarginsLevels
\*------------------------------------*/

:root {
  --level1: .20rem; 
  --level2: .45rem; 
  --level3: .95rem; 
  --level4: 1.45rem; 
  --level5: 1.95rem; 
  --level6: 2.45rem; 
  --level7: 2.95rem; 
}





/*------------------------------------*\
    #Typography
\*------------------------------------*/

@font-face {
  font-family: 'telegrafregular';
  src: url('./telegraf-regular-webfont.woff2') format('woff2'),
        url('./telegraf-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'telegrafbold';
  src: url('./telegraf-bold.woff2') format('woff2'),
        url('./telegraf-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
    --primary-font-family: 'Space Mono', 'Courier New', Courier, monospace;
    --secondary-font-family: 'telegrafregular',  'Space Mono', 'Courier New', Courier, monospace;
    --tertiary-font-family: 'telegrafbold',  'Space Mono', 'Courier New', Courier, monospace;
    --letter-spacing-1: 1.5px; 
    --letter-spacing-2: 1px; 
    --letter-spacing-3: 3px; 
    --letter-spacing-4: 5px; 
    --kilo: 3.002rem;
    --h1: 2.436rem;
    --h2: 1.903rem;
    --h3: 1.513rem;
    --h4: 1.20rem;
    --h5: 1.10rem;
    --h6: 1rem;
    --normal: .95em;
    --micro: .85rem;
    --line-height: 1;
    --line-height-double: 1.5;
}
  
  


/*------------------------------------*\
    #Root Typography Resizing
\*------------------------------------*/

:root {
  font-size: .9rem;
}


/*X-SMALL*/
@media screen and (max-width: 350px) {
  :root {
    font-size: .8rem;
  }
}

/*SMALL-UP*/
@media screen and (min-width: 370px) {
  :root {
    font-size: .85rem;
  }
}

/*MEDIUM-UP*/
@media screen and (min-width: 700px) {
  :root {
    font-size: .85rem;
  }
}


/*LARGE-UP*/
@media screen and (min-width: 975px) {
  :root {
    font-size: .8rem;
  }
}


/*LARGE-UP*/
@media screen and (min-width: 1000px) {
  :root {
    font-size: .8rem;
  }
}

/*X-LARGE-UP*/
@media screen and (min-width: 1300px) {
  :root {
    font-size: .85rem;
  }
}


/*X-LARGE-UP*/
@media screen and (min-width: 1681px) {
  :root {
    font-size: .9rem;
  }
}


/*WIDESCREEN-UP*/
@media screen and (min-width: 2000px) {
  :root {
    font-size: 1rem;
  }
}





/*------------------------------------*\
    #Default Text Selection Color 
\*------------------------------------*/


::selection {
  background-color: white; 
  color: black; 
}

::-moz-selection {

    background-color: white; 
    color: black; 
}




/*------------------------------------*\
    #Headlines
\*------------------------------------*/

h1,
h2,
h3, 
h4, 
h5, 
h6 {
  margin-bottom: 1rem;
  letter-spacing: -.05px;
}

body {
  font-family: var(--primary-font-family);
  font-size: 1rem;
  line-height: 1.5; 
  font-display: fallback;
  background:black;
  color: #fff; 
}



.headline {
  font-weight: bold;
  color: var(--primary-color);
}


.headline-accent {
  font-weight: 600; 
  color: var(--secondary-color); 
  display: block; 
  letter-spacing: .2px;
}

a {
  color: #fff;
}

a:hover, 
a:focus {
  text-decoration: none;
}





/*------------------------------------*\
    #Paragraphs
\*------------------------------------*/

p {
  margin-bottom: 1.5rem;
}


.screen-readers-only {
  opacity: 0;
  z-index: -100;
  left: -999;
  position: fixed;
}




/*------------------------------------*\
    #PaddingAndMarginsLevels
\*------------------------------------*/

.button--primary {
  font-size: 1.1rem;
  border: 1px solid white;
  background: black;
  color: #fff;
  text-decoration: none;
}


.button--medium {
  width: 100%;
  padding: var(--level3);
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  border-radius: 69px;
  font-size: 1rem;
  transition: all var(--duration-default) ease;
}

.button--primary:hover,
.button--primary:focus {
  cursor: pointer;
  background-color: #fff;
  color: black;
}



/*------------------------------------*\
    #Sections
\*------------------------------------*/

section {
  padding-bottom: var(--level7);
}

@media only screen and (min-width: 975px) {
  section {
    padding-bottom: calc(var(--level7) * 2);
  }
}



/*------------------------------------*\
  #Overflows Hiding
\*------------------------------------*/


.overflow-hidden-mobile,
.overflow-hidden-tablet {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .overflow-hidden-mobile {
    overflow: auto;
  }
}

@media screen and (min-width: 975px) {
  .overflow-hidden-tablet {
    overflow: auto;
  }
}

