
/*------------------------------------*\
    #Cart Notification
\*------------------------------------*/

.cart-notification-wrapper {
  position: relative;
}

.cart-notification-wrapper .cart-notification {
  display: block;
}

.cart-notification {
  background-color: rgb(var(--color-background));
  border-color: rgba(var(--color-foreground), 0.2);
  border-style: solid;
  border-width: 0 0 0.1rem;
  padding: 1.5rem 2.5rem;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  visibility: hidden;
  width: 100%;
  z-index: 2;
  right: 0; 
  left: auto;
  padding-bottom: 7rem;
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 750px) {
  .cart-notification {
    border-width: 0 0.1rem 0.1rem;
    max-width: 50rem;
    width: 60vw;
    left: auto;
  }
}

@media screen and (min-width: 990px) {
  .cart-notification {
    padding-top: 4rem;
  }
}



.cart-notification.animate {
  transition: transform var(--duration-short) ease,
    visibility 0s var(--duration-short) ease;
}

.cart-notification.active {
  transform: translateX(0);
  transition: transform var(--duration-default) ease, visibility 0s;
  visibility: visible;
  background: black;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: 0; 
  border: none;
  transition: all .2s ease-in-out;
}





/*------------------------------------*\
    #Cart Header
\*------------------------------------*/


.cart-notification__header {
  align-items: flex-start;
  display: flex;
  width: 100%; 
  position: relative;
  margin-bottom: 4.5rem;
}

@media screen and (min-width: 990px) {
  .cart-notification__header {
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}



.cart-notification__heading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  position: absolute;
  font-family: var(--secondary-font-family);
  letter-spacing: 1px;
  font-size: 1.5rem;
  top: .25rem;
}

.cart-notification__heading .icon-checkmark {
  color: rgb(var(--color-foreground));
  margin-right: 1rem;
  width: 1.3rem;
}

.cart-notification__close {
  background-color: transparent;
  color: #fff;
  border: none;
  width: 3rem;
  height: 2rem;
  top: 0;
  overflow: hidden;
  right: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  right: 0; 
}

.cart-notification__close svg {
  width: 100%;
  height: 100%;
}





/*------------------------------------*\
    #Cart Links
\*------------------------------------*/

.cart-notification__links {
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: .5rem;
  position: absolute;
  background: black;
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto;
  width: 90%;

}


@media screen and (min-width: 990px) {
  .cart-notification__links {
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
  }
}



.cart-notification__links > * {
  margin-top: 1rem;
}


/* 
.cart-notification-product {
  align-items: flex-start;
  display: flex;
  padding-bottom: 3rem;
  padding-top: 2rem;
  height: 100%;
}

.cart-notification-product dl {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__image {
  border: 0.1rem solid rgba(var(--color-foreground), 0.03);
  margin-right: 1.5rem;
}

.cart-notification-product__name {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-notification-product__option {
  color: rgba(var(--color-foreground), 0.7);
  margin-top: 1rem;
}

.cart-notification-product__option + .cart-notification-product__option {
  margin-top: 0.5rem;
}

.cart-notification-product__option > * {
  display: inline-block;
  margin: 0;
} */





/*------------------------------------*\
    #Cart Notification Product
\*------------------------------------*/

.cart-notification__product {
  width: 100%; 
  margin-bottom: 2rem;
}

@media screen and (min-width: 990px) {
  .cart-notification__product {
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}


.cart-notification__product__inner {
  display: flex;
  width: 100%;
}



.cart-notification__product__image-container {
  width: 100%;
  max-width: 6rem;
}

.cart-notification__product__image {
  position: relative;
  padding-bottom: 142%;
  overflow: hidden;
  width: 100%;
}

.cart-notification__product__image  img{
  position: absolute;
  width: 100%;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  height: 100%;
  object-fit: cover;
}

.cart-notification__product__info {
  color: #fff;
  padding-left: 1rem;
  font-family: var(--secondary-font-family);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.cart-notification__product__info__title,
.cart-notification__product__info__variant,
.cart-notification__product__info__price {
  margin-bottom: .5rem;
  font-size: .9rem;
}

.cart-notification__product__info__title {
  font-family: var(--tertiary-font-family);
  letter-spacing: 1px;
}


.cart-notification__links .button--primary {
  width: 100%;
  border: 1px solid white;
  background: black;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  border-radius: 69px;
  font-size: 1rem;
}


.cart-notification__links .button--primary:hover,
.cart-notification__links .button--primary:focus  {
  background-color: #fff;
  color: black;
}