/*------------------------------------*\
    #Pages
\*------------------------------------*/


.screen-readers-only {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}


.page {
    position: absolute;
    left: 0; 
    width: 100%;
    right: 0;
    pointer-events: none;
    opacity: 0;
}


.page__inner {
    width: 100%;
    max-width: 33rem; 
    margin-right: auto;
    margin-left: auto;
    text-transform: none;
    font-size: 1.1rem;
}

.page.is-hidden {
    pointer-events: none;
    z-index: -10;
}

.page.is-visible {
    pointer-events: all;
    z-index: 2;
}

.page.is-forced-visible {
    opacity: 1 !important;
    display: block !important;
    pointer-events: all;
}

.page__back {
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.25rem;
    display: block;
    position: fixed;
    bottom: 8%;
    left: 0;
    right: 0;
    width: 8rem;
    transition: all .2s ease-in-out; 
}

.page__back img {
    width: 100%;
}
.page__back:hover,
.page__back:focus {
    cursor: pointer;
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .page__back {
        bottom: 4%;
        width: 7rem;
    }
}




/*------------------------------------*\
    #Hero Splash
\*------------------------------------*/


.hero-splash {
    pointer-events: none;
}

.hero-splash.is-hidden {
}

.hero-splash..is-visible {
}






/*------------------------------------*\
    #About Page
\*------------------------------------*/

.about-page {

}


.about-page__bio {
    min-height: 18rem;
    font-size: 1.1rem;
    line-height: 1.75;
    text-align: left;
    max-width: 100%;
    letter-spacing: 1px;
    bottom: -2rem;
    position: relative;
    font-family: var(--secondary-font-family);
    display: block; ;
    position: relative;
}

@media screen and (min-width: 768px) {
    .about-page__bio {
        min-height: 220px;
    }
}

.about-page__bio.is-typing .ticker {
    text-shadow: none; 
    animation: none;
}


.about-page__bio .ticker {
    margin: 0;
    padding: 0;
    bottom: .05rem;
    left: -.30rem;
    position: relative;
    animation: flicker 1.2s step-end infinite;
    font-size: 1.75rem;
    line-height: 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

@keyframes flicker {
    from, to {
        opacity: 0;
    }

    50% {
        opacity: 1; 
    }
}





/*------------------------------------*\
    #Newsletter Page
\*------------------------------------*/

.newsletter-sign-up {
    max-width: 28rem; 
    width: 100%;
    margin-right: auto; 
    margin-left: auto;
    margin-bottom: -6rem;
}

@media screen and (min-width: 768px) {
    .newsletter-sign-up {
        margin-bottom: -4rem;
    }
}


.newsletter-sign-up__header {
    margin-bottom: 2rem;
}
    
.newsletter-sign-up__headline {
    text-transform: none;
    font-weight: normal;
    font-size: 1.25rem;
    font-family: var(--primary-font-family);
}


@media screen and (min-width: 768px) {
    .newsletter-sign-up__headline {
        font-size: 1.375rem;
        line-height: 1.25;
    }
}


.newsletter-sign-up.is-submitted   .newsletter-sign-up__header{
    display: none;
}


.newsletter-sign-up form[class*='needsclick View__FormView-'] {
    padding: 0; 
    margin: 0; 
}

.newsletter-sign-up   div[class*='needsclick FormComponent_'] {
    padding: 0; 
}

.newsletter-sign-up  div[class*='RichText__StyledQuillContainer'] p,
.newsletter-sign-up  div[class*='RichText__StyledQuillContainer'] span,
.newsletter-sign-up  div[class*='RichText__StyledQuillContainer'] strong {
    color: #fff !important;
    font-family: $primary-font-family !important;
    font-size: 1.1rem !important;
    margin-bottom: 1rem !important;
    
}

.newsletter-sign-up  div[class*='RichText__StyledQuillContainer'] span {
        font-size: 1rem !important;
}


.newsletter-sign-up  label[class*='Label__StyledLabel'] {
    font-size: 1.1rem !important; 
    line-height: 1.5 !important;
    padding-bottom: 0 !important;
}

.newsletter-sign-up  div[class*="TextInput__StyledInputContainer"].is-active  label {
    opacity: 0;
    transform: translateY(-6px);
}

.newsletter-sign-up  div[class*="TextInput__StyledInputContainer"] input {
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
}

.newsletter-sign-up  div[class*="TextInput__StyledInputContainer"] label {
    pointer-events: none;
    transition: all .4s cubic-bezier(0.22, 1, 0.36, 1); 
}

.newsletter-sign-up  button[class*='needsclick Button__FormStyledButton'] {
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
}



div[class*='Row__FormRow-']{
    display: block !important;
  }
  

  div[class*='TextInput__StyledInputContainer'] {
    position: relative; 
    margin-bottom: 1.125rem; 
  }
  
  div[class*='TextInput__StyledInputContainer']   label {
      font-family: var(--primary-font-family) !important;
      letter-spacing: 1px !important;
      color: #fff !important; 
  }
  
  div[class*='TextInput__StyledInputContainer']  input {
      height: 3.25rem !important;
      padding-right: .75rem !important;
      padding-left: .75rem !important;
  }
  
  div[class*='TextInput__StyledInputContainer']  input:active,
  div[class*='TextInput__StyledInputContainer']  input:focus{
    border-color: #fff !important;
    background-color: #fff !important;
  }
  
  
  div[class*='TextInput__StyledInputContainer']  input:active,
  div[class*='TextInput__StyledInputContainer']  input:focus{
    border-color: #fff !important;
    background-color: #fff !important;
  }
  
  div[class*='TextInput__StyledInputContainer']  input:active + label ,
  div[class*='TextInput__StyledInputContainer']  input:focus + label {
      color: #fff 
  }
  
  
  
    div[class*='TextInput__StyledInputContainer']  input[type="text"], 
    div[class*='TextInput__StyledInputContainer']  input[type="password"], 
    div[class*='TextInput__StyledInputContainer']  input[type="date"], 
    div[class*='TextInput__StyledInputContainer']  input[type="datetime"], 
    div[class*='TextInput__StyledInputContainer']  input[type="datetime-local"], 
    div[class*='TextInput__StyledInputContainer']  input[type="month"], 
    div[class*='TextInput__StyledInputContainer']  input[type="week"], 
    div[class*='TextInput__StyledInputContainer']  input[type="email"], 
    div[class*='TextInput__StyledInputContainer']  input[type="number"], 
    div[class*='TextInput__StyledInputContainer']  input[type="search"], 
    div[class*='TextInput__StyledInputContainer']  input[type="tel"], 
    div[class*='TextInput__StyledInputContainer']  input[type="time"], 
    div[class*='TextInput__StyledInputContainer']  input[type="url"], 
    div[class*='TextInput__StyledInputContainer']  input[type="color"],
    div[class*='TextInput__StyledInputContainer']  input, 
    div[class*='TextInput__StyledInputContainer']  textarea {
      color: #ffff !important;
      border: 0 !important; 
      background-color: transparent !important;
      background-color: #fff0 !important;
      width: 100% !important;
      outline: 0 !important;
      border-radius: 4px !important;
      transition: all .4s ease-in-out !important;
      margin-bottom: 0.375rem !important;
      border: none !important;
      border-bottom: 2px dotted white !important;
      border-radius: 0 !important;
      letter-spacing: 1px !important;
      font-family: var(--primary-fony-family) !important;
      letter-spacing: 1px !important;
  }
  
  div[class*='TextInput__StyledInputContainer']  input[type="text"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="password"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="date"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="datetime"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="datetime-local"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="month"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="week"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="email"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="number"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="search"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="tel"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="time"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="url"]:focus, 
  div[class*='TextInput__StyledInputContainer']  input[type="color"]:focus,
  div[class*='TextInput__StyledInputContainer']  input:focus,
  div[class*='TextInput__StyledInputContainer']  textarea:focus {
    outline: 0 !important; 
    background-color: transparent
  }
  
  
  
  div[class*='TextInput__StyledInputContainer']  input[type="text"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="password"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="date"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="datetime"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="datetime-local"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="month"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="week"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="email"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="number"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="search"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="tel"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="time"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="url"]:active, 
  div[class*='TextInput__StyledInputContainer']  input[type="color"]:active,
  div[class*='TextInput__StyledInputContainer']  input:active,
  div[class*='TextInput__StyledInputContainer']  textarea:active {
    outline: 0 !important; 
    background-color: transparent
  }
  
  
  
  div[class*='TextInput__StyledInputContainer'] alert {
      width: 100%;
      background-color: red;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      font-size: .8rem;
      color: #fff;
      padding-left: .5rem;
      top: -3px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
  
    }
  
    div[class*='TextInput__StyledInputContainer'] textarea {
      margin-bottom: -7px; 
    }
  
    div[class*='TextInput__StyledInputContainer'] label {
      position: absolute; 
      left: 0; 
      font-family: var(--primary-font-family);
      color: #ffff;
      top: 0; 
      bottom: 0; 
      display: flex;
      align-items: center;
      text-transform: capitalize; 
  
    }
  
    @media screen and (min-width: 768px) {
      div[class*='TextInput__StyledInputContainer'] label {
        top: -12px; 
      }
    }  
  
  
  
  
  div[class*='FormComponent__StyledFormComponentWrapper'] {
    margin-bottom: .5rem;
  }

  div[class*='FormComponent__StyledFormComponentWrapper'] .button,
  div[class*='FormComponent__StyledFormComponentWrapper'] button {
    margin-top: 1rem;
    width: 100% !important;
    color: #fff !important;
    text-transform: uppercase !important;
    display: block !important;
    margin-bottom: 2.25rem !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    display: block !important;
    margin-bottom: 2.25rem !important;
    letter-spacing: .5px !important;
    border-radius: 80px !important;
    background-color: transparent !important;
    border: 1.25px solid #ffff !important;
    padding-top: .65rem !important;
    padding-bottom: .70rem !important;
    max-width: 10rem;
    margin-right: auto; 
    margin-left: auto;  
    font-family: var(--primary-font-family) !important;
    font-size: .8rem;
  }

  div[class*='FormComponent__StyledFormComponentWrapper'] .button:hover,
  div[class*='FormComponent__StyledFormComponentWrapper'] button:hover {
    background-color: #fff !important;
    color: black !important;
  }
  
  div[class*='FormComponent__StyledFormComponentWrapper'] .button:focus,
  div[class*='FormComponent__StyledFormComponentWrapper'] button:focus {
    background-color: #fff !important;
    color: black !important;
  }

    
  @media screen and (min-width: 768px) {
    div[class*='FormComponent__StyledFormComponentWrapper'] .button,
    div[class*='FormComponent__StyledFormComponentWrapper'] button {
        font-size: 1.1rem;
    }
  }
  


.newsletter-sign-up .iLauD.iLauD {
      background-color: transparent !important;
      margin-bottom: 6rem;
  }

.newsletter-sign-up .ql-editor p {
    color: #fff !important; 
    margin-bottom: .5rem !important; 
    font-family: var(--primary-font-family) !important;
    font-size: 1.375rem !important;
    line-height: 1.25 !important;
}


.newsletter-sign-up .CymaC.CymaC {
    color: #fff !important; 
    margin-bottom: .5rem !important; 
    font-family: var(--primary-font-family) !important;
    font-size: 1.375rem !important;
    line-height: 1.25 !important;
}

.newsletter-sign-up .brnlVF.brnlVF {
    width: 90% !important;
}


/*------------------------------------*\
    #Contact page
\*------------------------------------*/


.communication-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.communication-links__item {
    margin-right: 1rem;
}

.communication-links__link {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    transition: all .2s ease-in-out; 
    padding-left: 1.5rem;
    padding-right: .25rem;
}


.communication-links__link:before {
    content: " ";
    background-color: #fff; 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out; 
    opacity: 0;
    z-index: -1;
}

.communication-links__link__arrow {
    width: 1rem;
    position: absolute;
    left: .25rem;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    transition: all .2s ease-in-out; 
}

.communication-links__link:hover, 
.communication-links__link:focus {
    color: black;
    padding-left: 1.75rem;
    margin-left: -.25rem;
    background-color: white;
}
.communication-links__link:hover .communication-links__link__arrow, 
.communication-links__link:focus .communication-links__link__arrow {
    opacity: 1;
}

.communication-links__link:hover .communication-links__link__arrow:before, 
.communication-links__link:focus .communication-links__link__arrow:before {
    opacity: 1;
}





/*------------------------------------*\
    #Local Page
\*------------------------------------*/


.current-user-time {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
    .current-user-time {
        margin-bottom: -3rem;
    }
}

    
.current-user-time .stat {
    position: relative;
} 



@keyframes enter-modal {
    0% {
        transform: translateY(100%) scale(.9); 
    }
    1% {
        opacity: 0;
        transform: translateY(0) scale(.9); 
    }
    100% {
        transform: translateY(0) scale(1); 
        opacity: 1;
    }
}


@keyframes exit-modal {
    0% {
        transform: translateY(0) scale(1); 
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateY(0) scale(.9); 
    }
    100% {
        transform: translateY(100%) scale(.9); 
        opacity: 0;
    }
}





.modal {
    position: fixed;
    width: 84vw;
    height: 100%;
    z-index: 7;
    inset: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%) scale(.9); 
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none; 
}


.modal.is-visible {
    animation: enter-modal .3s ease forwards .6s; 
}

.modal.is-hidden {
    animation:  exit-modal .4s ease forwards;
}



.modal__inner {
    z-index: 4;
    height: 80%;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem; 
    padding-bottom: 3rem;
    max-width: 37rem; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all; 
}

@media screen and (min-width: 768px) {
    .modal__inner {
        max-width: 60rem;
        margin-right: auto;
        margin-left: auto;
    }
}