
/*------------------------------------*\
    #Featured Products
\*------------------------------------*/


.featured-products {

}


.featured-products__list {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: var(--level1);
    padding-left: var(--level1);
}

@media only screen and (min-width: 768px) {
    .featured-products__list {
        padding-right: var(--level3);
        padding-left: var(--level3);
    }
}

@media only screen and (min-width: 1100px) {
    .featured-products__list {
        padding-right: var(--level4);
        padding-left: var(--level4);
    }
}


.featured-products__list__item {    
    width: 50%;
}

@media only screen and (min-width: 1100px) {
    .featured-products__list__item {    
        width: 33.3%;
    }
}

