
/*------------------------------------*\
    #Featured Products
\*------------------------------------*/


.featured-products {

}


.featured-products__list {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: var(--level1);
    padding-left: var(--level1);
}

@media only screen and (min-width: 768px) {
    .featured-products__list {
        padding-right: var(--level3);
        padding-left: var(--level3);
    }
}

@media only screen and (min-width: 1100px) {
    .featured-products__list {
        padding-right: var(--level4);
        padding-left: var(--level4);
    }
}


.featured-products__list__item {    
    width: 50%;
}

@media only screen and (min-width: 768px) {
    .featured-products__list__item {    
        width: 25%;
    }
}






/*------------------------------------*\
    #Featured Art Shots
\*------------------------------------*/


.featured-art-shots {
    padding-bottom: 0;
    margin-bottom: calc(var(--level7)  + var(--level3));
}

@media only screen and (min-width: 1100px) {
    .featured-art-shots {
        margin-bottom: calc(var(--level7) * 1.75);
    }
}

.featured-art-shots__list {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: var(--level1);
    padding-left: var(--level1);
}

@media only screen and (min-width: 768px) {
    .featured-art-shots__list {
        padding-right: var(--level3);
        padding-left: var(--level3);
    }
}

@media only screen and (min-width: 1100px) {
    .featured-art-shots__list {
        padding-right: var(--level4);
        padding-left: var(--level4);
    }
}


.featured-art-shots__list__item {
    width: 50%;
    margin-bottom: calc(var(--level3));
}

@media only screen and (min-width: 1100px) {
    .featured-art-shots__list__item  {
        margin-bottom: calc(var(--level1));
    }
}

