/*------------------------------------*\
    #Product Thumbnail
\*------------------------------------*/

.product-thumb {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

@media only screen and (min-width: 1100px) {}

.product-thumb__inner {
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
}


@media only screen and (min-width: 768px) {
    .product-thumb__inner {}

    .product-thumb__inner:hover .product-thumb__information__inner,
    .product-thumb__inner:focus .product-thumb__information__inner {
        opacity: 1;
        transition: all var(--duration-medium) ease-in-out .2s;
    }

    .product-thumb.has-more-images .product-thumb__inner:hover .product-thumb__images picture:nth-child(1),
    .product-thumb.has-more-images .product-thumb__inner:focus .product-thumb__images picture:nth-child(1) {
        opacity: 0;
    }

    .product-thumb.has-more-images .product-thumb__inner:hover .product-thumb__images picture:nth-child(2),
    .product-thumb.has-more-images .product-thumb__inner:focus .product-thumb__images picture:nth-child(2) {
        opacity: 1;
    }


    .product-thumb.has-more-images .product-thumb__inner:hover .product-thumb__information:before,
    .product-thumb.has-more-images .product-thumb__inner:focus .product-thumb__information:before {
        transform: translateY(0);
    }

}


.product-thumb--sold-out {
    position: relative;
}



.product-thumb--sold-out .product-thumb__sold-out {
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 41%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    opacity: .8;
    color: black;
}

.product-thumb__sold-out__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product-thumb__sold-out__title {
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    letter-spacing: 2px;
    font-size: var(--h5);
}

.product-thumb--art-shot .product-thumb__inner .product-thumb__images picture:nth-child(1) {
    opacity: 1 !important;
}

.product-thumb--art-shot .product-thumb__inner .product-thumb__images picture:nth-child(2) {
    opacity: 1 !important;
}

.product-thumb--art-shot .product-thumb__information {
    opacity: 0 !important;
    position: fixed;
    z-index: 0;
}





/*------------------------------------*\
    #Product Images
\*------------------------------------*/


.product-thumb__images {
    position: relative;
    padding-bottom: 150%;
    width: 100%;
    display: block;
    background-color: white;
    overflow: hidden;
}

.product-thumb__image--primary {
    z-index: 1;
}


.product-thumb__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.product-thumb__images picture {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all var(--duration-medium) ease-in;
}

.product-thumb__images picture:nth-child(1) {
    z-index: 2;
}


.product-thumb__images picture:nth-child(2) {
    z-index: 1;
    opacity: 0;
}

.product-thumb__images picture:nth-child(3) {
    z-index: 0;
}








/*------------------------------------*\
    #Product Information
\*------------------------------------*/


.product-thumb__information {
    position: absolute;
    color: black;
    text-decoration: none;
    font-family: var(--secondary-font-family);
    padding: var(--level2);
    padding-top: var(--level3);
    letter-spacing: var(--letter-spacing-1);
    font-size: var(--micro);
    z-index: 4;
    text-decoration: none;
    bottom: 0;
}


@media only screen and (min-width: 768px) {
    .product-thumb__information {
        position: absolute;
        padding-bottom: inherit;
        bottom: 0;
        padding: 0;
        color: black;
        transition: all .3s ease-in-out;
        transform: translateY(8px);
        width: 100%;
        left: 0;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .product-thumb__information:before {
        content: " ";
        width: 100%;
        position: absolute;
        height: 100%;
        background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 1) 94%);
        transform: translateY(100%);
        transition: all var(--duration-default) ease-in-out .1s;
    }

    .product-thumb__information__inner {
        position: relative;
        z-index: 1;
        padding-left: var(--level4);
        padding-bottom: var(--level5);
        opacity: 0;
        transition: all var(--duration-medium) ease-in-out;
    }
}


@media only screen and (min-width: 975px) {
    .product-thumb__information {
        font-size: var(--h5);
    }

}


.product-thumb__information__title {
    margin-bottom: var(--level1);
    display: block;
}


.product-thumb__information__pricing {
    margin-bottom: var(--level1);
    display: block;
}