


  .contact {
    padding-right: var(--level6);
    padding-left: var(--level6);
    max-width: 40rem;
  }

  @media screen and (min-width: 775px) {
    .contact {
      margin-right: auto;
      margin-left: calc(var(--level7)  * 2);
    }
  }


.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}


@media screen and (min-width: 750px) {

}

@media screen and (min-width: 750px) {
  .contact__fields {
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
