

/*------------------------------------*\
    #404 Page
\*------------------------------------*/


.template-404 {
    position: fixed; 
    left: 0; 
    right: 0; 
    text-transform: uppercase; 
}